.order-section {
  margin-top: 60px;
  background-color: f6f6f8;
  min-height: 90vh;
}

.order-menu-list {
  margin: 2rem 0;
  width: 100%;
}

.order-menu-list .title {
  margin: 4rem 0;
}

.order-items-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  place-items: center;
}

.order-items-cards .item-card {
  height: 100%;
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(5, 5, 5, 0.265);
  /* background-color: var(--secondary-wheat) */
}

.order-items-cards .item-card:hover {
  position: relative;
  box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.265);
}

.order-items-cards .item-card .item-img {
  width: 100%;
}

.order-items-cards .item-card .item-img img {
  border-radius: 20px;
  width: 100%;
}

.item-btn .add-to-cart-btn {
  outline: none;
  border: none;
  background-color: var(--primary-dark-red);
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  border-radius: 100%;
  color: var(--text-white);
}

.item-btn .add-to-cart-btn:hover {
  background-color: var(--dark-red-hover);
}

.cart-icon {
  position: fixed;
  top: 64px;
  right: 0rem;
  z-index: 1;
  background-color: var(--primary-dark-red);
  border-radius: 0.5rem 0 0 0.5rem;
  display: none;
}

.cart-icon .cart-count {
  position: absolute;
  top: 50%;
  left: 46%;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-50%);
  color: var(--primary-dark-red);
}

.cart {
  min-height: 80vh;
  height: fit-content;
  width: 460px;
  position: relative;
  top: 10px;
  background-color: var(--dark-red-hover);
  border-radius: 16px;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.cart-title {
  position: relative;
  top: 20px;
  text-align: center;
  color: whites;
}

.close-cart-btn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  color: var(--primary-dark-red);
  font-size: 1.2rem;
  border-radius: 0 0 10px 0;
  display: none;
  z-index: 1;
}

.cart-item {
  margin: 2rem;
}

.cart-item-image img {
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

.cart-list-item {
  background-color: var(--primary-dark-red);
}

.cart-quantity button {
  border: none;
  outline: none;
  font-weight: bold;
  background-color: transparent;
}

.cart-btn .remove-item-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.cart-buy-option {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-dark-red);
}

#order-btn {
  display: block;
  margin: 1rem auto;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  border: none;
}

.timings-message{
  height: 75vh;
}
@media only screen and (max-width: 768px) {
  .cart {
    position: fixed;
    top: 80px;
    left: 50%;
    height: 86vh;
    width: 80%;
    transform: translateX(-50%);
    border-radius: 0;
  }

  .cart-open {
    display: block;
  }

  .cart-close {
    display: none;
  }

  .cart-icon,
  .close-cart-btn {
    display: block;
    cursor: pointer;
  }
}
