.reservation-wrapper {
 top: 0;
 left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: none;
  transition: all 0.4s ease-in-out;
  background: var(--background-overlay);
  backdrop-filter: blur(4px);
  z-index: 4;
}

.reservation-form-widget {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 480px;
  color: white;
  background-color: var(--form-bg);
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(77, 77, 77);
}

.res-form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

.res-title h3 {
  color: var(--text-gray-md);
  text-align: center;
  margin-bottom: 1rem;
}

.res-form-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

#res-form {
  width: 90%;
}

.close-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 0 0 10px 0;
  cursor: pointer;
  color: var(--text-white);
  background-color: var(--primary-dark-red);
}

.res-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.res-form-group label {
  color: var(--text-gray-md);
}

/* .res-form-group input:invalid {
  background-color: #ffe1e0;
} */

.res-form-group input,
.res-form-group select {
  outline: none;
  border: 1px solid rgb(204, 204, 204);
  height: 42px;
  padding-left: 10px;
  background-color: var(--input-bg);
}

#res-btn {
  height: 42px;
  width: 100%;
  outline: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  background-color: var(--btn-bg);
  transition: all 0.2s ease-in;
}

#res-btn:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

@media only screen and (max-width: 480px) {
  .reservation-form-widget {
    width: 95%;
  }
}
