.reservation-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  transition: all 0.4s ease-in-out;
}

.reservation-wrapper {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  backdrop-filter: blur(4px);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.reservation-form-widget {
  position: relative;
  height: fit-content;
  width: 480px;
  border-radius: 10px;
  color: white;
  background-color: #f44336;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(77, 77, 77);
}

.res-form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;
}

.res-form-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

#res-form {
  width: 80%;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  padding: 0px 6px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--materialRed);
  background-color: white;
}

.res-form-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  background-color: #ff6764;
  padding: 10px;
  border-radius: 4px;
}

.res-form-group label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.res-form-group input {
  font-size: 14px;
}

.res-form-group input:invalid{
 background-color: #ffe1e0;
}

.res-form-group input,
.res-form-group select {
  outline: none;
  border: none;
  height: 42px;
  width: 80%;
  padding-left: 10px;
  margin-left: 10px;
}

#res-btn {
  height: 42px;
  width: 100%;
  outline: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

#res-btn:hover {
  background-color: #ffffff;
  color: #f44336;
}

@media only screen and (max-width: 480px) {
  .reservation-form-widget {
    width: 95%;
  }
  .res-form-group input,
  .res-form-group select {
    width: 196px;
  }
}
