.combo-list-item {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin: 5px 0;
  background-color: var(--primary-dark-red);
  color: white;
  cursor: default;
  border-radius: 24px;
}

.dish-id {
  padding-right: 1rem;
}

.items-details {
  width: 100%;
}
.combo-inner-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.dishes-names p {
  border-top: 2px dashed rgb(255, 255, 255);
}

@media only screen and (max-width: 480px) {
  .combo-list-item {
    width: 96%;
    font-size: 14px !important;
  }

  .dish-id h6 {
    font-size: 14px !important;
  }
  .dishes-names p {
    font-size: 12px !important;
  }
}
