.crew-card-row {
  display: flex;
  flex-wrap: wrap;
}

.crew-card {
  flex-direction: column;
  width: 320px;
  margin: 1rem 2rem;
  padding: 1.2rem 1rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.402);
}
.crew-card:hover {
  transform: scale(1.025);
  color: rgb(255, 255, 255);
  background-color: var(--materialRed);
}

.crew-image img {
  width: 96%;
}
