header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding: 0 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 2;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list .nav-list-items .nav-links {
  text-decoration: none;
  color: var(--text-black);
  padding: 10px 5px;
  margin: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-links:hover,
.nav-links.active {
  border-bottom: 3px solid var(--primary-dark-red);
}

.nav-btn {
  outline: none;
  border: none;
  padding: 10px 5px;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  background-color: var(--primary-dark-red);
  transition: all 0.4s ease-in-out;
}

.nav-btn:hover {
  color: white;
  background-color: var(--dark-red-hover);
}

.menubar {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(32, 32, 32);
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    position: fixed;
    flex-direction: column;
    top: 61px;
    left: 0px;
    height: 0vh;
    width: 100%;
    padding: 0;
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background-color: var(--background-ghost-white);
    transition: all 0.4s ease-out;
  }

  .nav-active {
    height: auto;
    opacity: 1;
  }

  .nav-container {
    height: 100%;
    width: 100%;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }

  .nav-list-items {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    display: block;
    padding-left: 1.2rem !important;
    margin: 0.5px 0 !important;
  }

  .nav-links:hover,
  .nav-links.active {
    background-color: var(--primary-dark-red);
    border-radius: 8px;
    color: white !important;
    border: none !important;
  }

  .menubar {
    display: block;
  }

  .nav-btn {
    width: 98%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 30px;
  }

  .brand h4 {
    font-size: medium;
  }

  .menubar {
    font-size: 1.5rem;
  }

  .nav-btn {
    padding: 10px;
  }
}
