header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  padding: 0 4rem;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.454);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 !important;
}

.nav-list .nav-list-items .nav-links {
  text-decoration: none;
  color: var(--materialRed);
  padding: 10px 5px;
  margin: 4px;
  text-transform: uppercase;
}

.nav-links:hover,
.nav-links.active {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.nav-btn {
  outline: none;
  border: none;
  padding: 10px 5px;
  color: var(--materialRed);
  border: 2px solid var(--materialRed);
  font-size: 14px;
  padding: 14px 16px;
  margin: 0 8px;
  background-color: #ffff;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.nav-btn:hover {
  color: white;
  background-color: var(--materialRed);
}

.menubar {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--materialRed);
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    position: fixed;
    top: 66px;
    left: -275px;
    height: 100vh;
    padding: 0px;
    width: 275px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
  }

  .nav-active {
    left: 0px;
  }

  .nav-container {
    height: 100%;
    width: 100%;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
  }

  .nav-list-items {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    display: block;
    padding-left: 1.2rem !important;
    margin: 0.5px 0 !important;
  }

  .nav-links:hover,
  .nav-links.active {
    background-color: var(--materialRed);
    color: white !important;
    border: none !important;
  }

 
  .menubar {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 30px;
  }

  .brand h4{
    display: none;
  }

  .menubar {
    font-size: 1.5rem;
  }

  .nav-btn {
    padding: 10px;
  }
}
