.services-card-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.services-card {
  height: inherit;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  background-color: #ffffff;
  border-radius: 24px;
}

.service-title h3 {
  color: var(--primary-dark-red);
  font-weight: bold;
  padding: 0 1.2rem;
}

.service-img img {
  display: block;
  margin: auto;
  width: 86%;
  border-radius: 18px;
}
