
@import "tailwindcss";

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.cursive-text {
  font-family: "Merienda", cursive;
}

/* Hide the default scroll bar */
/* ::-webkit-scrollbar {
  width: 8px;

} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #d5d5d5;
  margin-top: 62px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--secondary-wheat);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red-hover);
} */

